body {
  background-color: #f6f8f8;
}

.form-input {
  margin-bottom: 15px;
}

.not-found-container {
  margin: 2rem auto;
  text-align: center;
}

.ui.menu.custom-menu {
  border-top: 2px solid #2185d0;
  border-radius: 0;
}

.ui.segment {
  box-shadow: 0 3px 4px 0 hsla(0, 0%, 0%, 0.2);
}

h3, .ui.header.with-divider {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2185d0;
}

.larger-top-margin {
  margin-top: 10px;
}
