.ui.list .item .description.flexed,
.ui.list .item .header.flexed,
.flexed,
.ui.container.all-items-container {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.all-items-container {
  margin-bottom: 30px;
}

.ui.segment.sublist {
  width: 100%;
  margin: 0px 5px 0px 5px;
  flex-grow: 1;
}

.ui.segment.sublist.first-sublist {
  margin-left: 0px;
  margin-right: 0px;
}

.ui.segment.sublist.second-sublist {
  margin-right: 0px;
}

.ui.divided.relaxed.list .item {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bought {
  background-color: hsl(360, 0%, 92%);
  text-decoration: line-through;
  border-radius: 5px;
}

.missing {
  background-color: rgba(113, 150, 219, 0.301);
  border-radius: 5px;
}

.flexed .form-input {
  width: 100%;
  margin-right: 10px;
}

.vertically-spaced {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.input.search-relative {
  position: relative;
}

.search-absolute {
  position: absolute;
  background: #fff;
  margin-top: .3em;
  width: 18em;
  border-radius: .2857em;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  border: 1px solid #d4d4d5;
  z-index: 998;
}

.search-result {
  cursor: pointer;
  overflow: hidden;
  font-size: 1em;
  padding: .85714286em 1.14285714em;
  color: rgba(0,0,0,.87);
  line-height: 1.33;
  border-bottom: 1px solid rgba(34,36,38,.1);
}

.search-result:hover, .search-result:focus {
  background: #f9fafb;
}

.price {
  color: #21ba45;
}

.title {
  font-weight: 700;
  font-size: 1em;
  color: rgba(0,0,0,.85);
}

.description {
  margin-top: 0;
  font-size: .92857143em;
  color: rgba(0,0,0,.4);
}

@media all and (max-width: 640px) {
  .all-items-container {
    flex-flow: column;
  }

  .ui.segment.sublist {
    margin: 5px 0px 5px 0px;
  }
}
