.ui.segment.list-segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  font-size: 1.2rem;
}

.list-segment:hover {
  background-color: rgba(0,0,0,0.06);
}

.form-container {
  margin-bottom: 20px;
}
